.idea
.vscode
packages/*/node_modules

# next.js
packages/ui/.next/
packages/ui/out/

# vercel
packages/ui/.vercel

# production
packages/ui/build

# debug
yarn-debug.log*
yarn-error.log*

# Docker
#docker.env
data
