# IDE
.idea
.vscode

# UI
packages/ui/node_modules
packages/ui/build
packages/ui/yarn-debug.log*
packages/ui/yarn-error.log*

#
#packages/server

# Server
packages/event/images/*
!packages/event/images/682841579-man.jpg

# We're ignoring those files in case they're
# mistakenly added into the project root directory.
node_modules
yarn-error.log*
yarn-debug.log*
yarn.lock


# Docker
#docker.env
data