# IDE
.idea
.vscode

# UI
packages/ui/node_modules
packages/ui/build
packages/ui/yarn-debug.log*
packages/ui/yarn-error.log*

# Server
packages/event-service/images

# We're ignoring those files in case they're
# mistakenly added into the project root directory.
node_modules
yarn-error.log*
yarn-debug.log*
yarn.lock


# Docker
#docker.env
data